{{!-- Search bar aside --}}
<aside class="uk-width-1-4@m uk-margin uk-flex uk-flex-column aside-container">
    {{!-- Search by genre --}}
    <form id="genre-search-form" class="uk-margin">
        <label for="genre-search">Search by Genre</label>
        <select name="genre-search" id="genre-input" class="uk-select uk-margin">
            <option value="" selected disabled>Select an genre</option>
            <option value="Action">Action</option>
            <option value="Adventure">Adventure</option>
            <option value="Animation">Animation</option>
            <option value="Biography">Biography</option>
            <option value="Comedy">Comedy</option>
            <option value="Crime">Crime</option>
            <option value="Drama">Drama</option>
            <option value="Family">Family</option>
            <option value="Fantasy">Fantasy</option>
            <option value="Film-Noir">Film-Noir</option>
            <option value="History">History</option>
            <option value="Horror">Horror</option>
            <option value="Music">Music</option>
            <option value="Mystery">Mystery</option>
            <option value="Romance">Romance</option>
            <option value="Sci-Fi">Sci-Fi</option>
            <option value="Sport">Sport</option>
            <option value="Thriller">Thriller</option>
            <option value="War">War</option>
            <option value="Western">Western</option>
        </select>
        <button type="submit">Search</button>
    </form>
    {{!-- Search by movie name --}}
    <form id="movie-search-form" class="uk-margin">
        <label for="movie-search">Search by Movie Name</label>
        <input name="movie-search" id="movie-name-input" class="uk-input uk-margin" type="text"
            placeholder="Type a movie name">
        <button type="submit">Search</button>
    </form>
</aside>