<div class="uk-width-1-6 uk-margin uk-margin-remove-left">
    <aside>
        <form id="genre-search-form" class="uk-margin">
            <select name="" id="genre-input" class="uk-select">
                <option selected disabled>Select an genre</option>
                <option value=""></option>
            </select>
            <button type="submit">Search</button>
        </form>
        <form id="movie-search-form" class="uk-margin">
            <input id="movie-name-input" class="uk-input" type="text" placeholder="Type a movie name">

        </form>
    </aside>
</div>