<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fontAwesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.10/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="/css/style.css">
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.10/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.10/dist/js/uikit-icons.min.js"></script>
    {{!-- jquery --}}
    <script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <title>Couch Potato</title>
    <link rel="icon" type="image/x-icon" href="/assets/images/food.svg">
</head>


<body uk-height-viewport="expand: true" class="uk-flex-column uk-flex-between">
    <!-- Header -->
    <header class="uk-flex uk-flex-middle  uk-background-muted uk-width-1-1">
            <h1 class="uk-padding uk-margin-auto-right uk-flex"> <a href="/" class="uk-text-decoration-none uk-text-secondary">C<img src="/assets/images/food.svg" width="40px"
                    alt="">uch Potato </a> </h1>
        <!-- Navbar -->
        <nav class="uk-navbar-container uk-navbar-transparent uk-margin-auto-top" uk-navbar>
            <div class="uk-navbar-right uk-padding uk-padding-remove-bottom uk-flex uk-flex-wrap uk-flex-right">
                <button class="hamburger" id="hamburger">
                    <i class="fas fa-bars"></i>
                </button>
                <ul class="uk-navbar-nav nav-ul" id="nav-ul">
                    <li><a href="/">Home</a></li>
                    <li><a href="/browse">Browse</a></li>
                    {{#if loggedIn}}
                    <li id="logout"><a href="#">Logout</a></li>
                    {{else}}
                    <li><a href="/login">Login</a></li>
                    {{/if}}
                    <li><a href="/collection">My Collection</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- Main section -->
    {{{body}}}

    <footer class="uk-padding uk-flex uk-flex-right uk-flex-middle uk-background-muted uk-width-1-1">
        Created by Matthew Bronstein, David Byrd, Brendon Jiang, and Jared Johnson
    </footer>

    <script src="/js/logout.js"></script>
    <script src="/js/script.js"></script>

</body>

</html>
