<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fontAwesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.10/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="/css/style.css">
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.10/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.10/dist/js/uikit-icons.min.js"></script>
    <title>Couch Potato</title>
</head>

<body uk-height-viewport="expand: true" class="uk-flex-column uk-flex-between">
    <header class="uk-flex uk-flex-middle uk-height-small uk-background-muted uk-width-1-1">
        <h1 class="uk-padding uk-margin-auto-right">Couch Potato</h1>
        <nav class="uk-navbar-container uk-navbar-transparent uk-margin-auto-top" uk-navbar>
            <div class="uk-navbar-right uk-padding uk-padding-remove-bottom">
                <ul class="uk-navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="">Browse</a></li>
                    {{#if loggedIn}}
                    <li><a href="/" id="logout">Logout</a></li>
                    {{else}}
                    <li><a href="/login">Login</a></li>
                    {{/if}}
                    <li><a href="/my-collection">My Collection</a></li>
                </ul>
            </div>
        </nav>
    </header>
    
    <aside>

    </aside>

    <section>
    {{{body}}}
    </section>

    <footer class="uk-padding uk-flex uk-flex-right uk-flex-middle uk-background-muted uk-width-1-1">
        Created by Matthew Bronstein, David Byrd, Brendon Jiang, and Jared Johnson
    </footer>

    <script src="/js/logout.js"></script>
    <script src="/js/search.js"></script>
</body>

</html>