<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fontAwesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.10/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="../public/css/style.css">
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.10/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.10/dist/js/uikit-icons.min.js"></script>
    <title>Couch Potato</title>
</head>

    <!-- Main section -->
    <main class="uk-flex uk-flex-center uk-flex-column uk-text-center">
        <div class="uk-margin uk-margin-top">
            <h2 class="uk-heading-medium">Your digital movie collection in one place</h2>
        </div>
        <div class="uk-margin">
            <h3 class="uk-heading-small">Info about why we are special</h3>
        </div>
        <div class="uk-margin uk-position-center">
            <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-card-large">
                <a class="uk-button uk-button-default" href="/browse">Browse Movie Collections</a>
            </div>
        </div>
    </main>

</html>
