<main class="uk-flex uk-flex-center uk-flex-column uk-text-center background-img video-wrapper">
    <div class="home-page-h2-div">
        <h2 class="uk-heading-medium change-color">Your digital movie collection in one place</h2>
    </div>
    <div class="home-page-h3-div">
        <h3 class="change-color">Info about why we are special</h3>
    </div>
    <div class="home-page-button-div uk-align-center">
        <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-card-large">
            <a class="home-page-button uk-button uk-button-primary" href="/browse">Browse Movie Collections</a>
        </div>
    </div>
    <video playsinline autoplay muted loop poster="">
        <source src="/assets/images/Movie_reel.mov" type="video/webm">
        Your browser does not support the video tag.
    </video>
</main>