<div class="uk-grid uk-flex-center uk-flex-middle login-top-container">
    <main>
        <div>
            <h2>Your digital movie collection in one place</h2>
        </div>
        <div>
            <h3>Info about why we are special</h3>
        </div>
        <div>
            <div class="uk-card">
                <a class="uk-button uk-button-default" href="/browse">Browse</a>
            </div>
        </div>
    </main>
</div>
