<div class="uk-grid uk-flex-center uk-flex-middle login-top-container">

  <div class="uk-card uk-card-body uk-card-default">

    <h2>Login</h2>

    <form class="uk-form-stacked login-form">

      <div class="form-group">
        <label for="email-login">Email:</label>
        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon: user"></span>
          <input class="uk-input" type="text" id="email-login" />
        </div>
      </div>

      <div class="form-group">
        <label for="password-login">Password:</label>
        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon: lock"></span>
          <input class="uk-input" type="password" id="password-login" />
        </div>
      </div>

      <div class="form-group">
        <button class="uk-button uk-button-primary" type="submit">Login</button>
      </div>

    </form>

  </div>

  <div class="uk-card uk-card-body uk-card-default">

    <h2>Signup</h2>

    <form class="uk-form-stacked signup-form">

      <div class="form-group">
        <label for="email-signup">Email:</label>
        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon: user"></span>
          <input class="uk-input" type="text" id="email-signup" />
        </div>
      </div>

      <div class="form-group">
        <label for="password-signup">Password:</label>
        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon: lock"></span>
          <input class="uk-input" type="password" id="password-signup" />
        </div>
      </div>

      <div class="form-group">
        <button class="uk-button uk-button-primary" type="submit">Signup</button>
      </div>

    </form>

  </div>

</div>

<script src="/js/login.js"></script>
