<div class="login-top-container uk-flex-center uk-flex-middle uk-grid-medium uk-text-center uk-width-*@m background-img video-wrapper" uk-grid uk-height-viewport="offset-top: true;offset-bottom: 9"> 

  <div class="login-signup-cards uk-card uk-card-body uk-card-default uk-text-center uk-card-hover">

    <h2 class="login-signup-headers">Login</h2>

    <form class="uk-form-stacked login-form">

      <div class="form-group uk-margin uk-text-right">
        <label for="email-login">Email:</label>
        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon: user"></span>
          <input class="uk-input" type="text" id="email-login" />
        </div>
      </div>

      <div class="form-group uk-margin uk-text-right">
        <label for="password-login">Password:</label>
        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon: lock"></span>
          <input class="uk-input" type="password" id="password-login" />
        </div>
      </div>

      <div class="form-group uk-margin">
        <button class="login-signup-buttons uk-button uk-button-primary" type="submit">Login</button>
      </div>

    </form>

  </div>

  <div class="login-signup-cards uk-card uk-card-body uk-card-default uk-text-center uk-card-hover">

    <h2 class="login-signup-headers">Signup</h2>

    <form class="uk-form-stacked signup-form">

      <div class="form-group uk-margin uk-text-right">
        <label for="email-signup">Email:</label>
        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon: user"></span>
          <input class="uk-input" type="text" id="email-signup" />
        </div>
      </div>

      <div class="form-group uk-margin uk-text-right">
        <label for="password-signup">Password:</label>
        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon: lock"></span>
          <input class="uk-input" type="password" id="password-signup" />
        </div>
      </div>

      <div class="form-group uk-margin">
        <button class="login-signup-buttons uk-button uk-button-primary" type="submit">Signup</button>
      </div>

    </form>

  </div>
  <video playsinline autoplay muted loop poster="">
      <source src="/assets/images/Movie_reel.mov" type="video/webm">
      Your browser does not support the video tag.
  </video>
</div>

<script src="/js/login.js"></script>
